
<p id="notice"><%= notice %></p>

<h2>My Posts</h2>

  <div class="col-md-10">
<% if @aposts.nil? %>
<h4>No posts<h4>
  <%else%>
    <% @aposts.each do |apost| %>

     <div class="card" style="width: 18rem;">
        <div class="card-header"><h3><%= apost.title %></h3></div>
  <div class="card-body">
    <p class="card-text"><h4><%= apost.text %></h4>
    <%= link_to 'Show', "/link/to/resource", method: :put %>


  </div>
</div>

<br><br>

    <% end %>
        <% end %>
  </div>
