<table class="table">

  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>

    </tr>
  </thead>
  <%if @users.nil?%>
  <h1>No friends found</h1>
  <%else%>
  <tbody>
    <% @users.each do |user| %>

    <tr>
      <td><%= user.name=%></td>
      <td><%= user.email=%></td>

    </tr>
  <%end%>

  </tbody>
    <% end %>
</table>
